.likeBtn {
  display: flex;
}

.likeBtn_icon {
  border: solid gray 2px;
  border-radius: 15px;
  font-size: 23px;
  padding: 5px;
}

.likeBtn_icon:hover {
  transform: scale(1.2);
}

.likeCount {
  font-size: 20px;
  margin-left: 10px;
}
