.mainNav {
  display: flex;
}

.mainNav_signupBtn {
  margin-left: 30px;
}

.mainNav_logoutBtn {
  margin-left: 30px;
}

.mainNav_homeBtn {
  margin-right: 30px;
}

.mainNav_user {
  display: flex;
  margin-right: 30px;
}

.mainNav_user_avatar {
  margin-right: 15px;
}
